<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{{ url_for('main.admin') }}">admin</a>
    <h1>投稿</h1>
    <form method="post" novalidate enctype="multipart/form-data">
        {{form.title.label}} : {{form.title()}}
        {% for error in form.title.errors %}
        <span>{{error}}</span>
        {% endfor %}
        <br>
        {{form.text.label}} : {{form.text()}}
        {% for error in form.text.errors %}
        <span>{{error}}</span>
        {% endfor %}
        <br>
        {{form.images.label}} : {{form.images()}}
        {% for error in form.images.errors %}
        <span>{{error}}</span>
        {% endfor %}
        <br>
        {{form.submit()}}
        {{form.hidden_tag()}}
    </form>
</body>
</html>