{% extends "layout_admin.html" %}
{% block title %} ユーザー追加 | アンサンブル・シマエナガ {% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="fs-2 mb-4">ユーザー追加</h1>

    <form method="post" novalidate>
        {{ form.hidden_tag() }}

        <!-- ID -->
        <div class="mb-3">
            {{ form.id.label(class="form-label") }}
            {{ form.id(class="form-control") }}
            {% for error in form.id.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- 名前 -->
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            {% for error in form.name.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- パスワード -->
        <div class="mb-3">
            {{ form.pw.label(class="form-label") }}
            {{ form.pw(class="form-control", type="password") }}
            {% for error in form.pw.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- 送信 -->
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
