{% extends "layout.html" %}
{% block title %} アンサンブル・シマエナガ {% endblock %}
{% block content %}
	<div class="container-fluid py-3 py-md-5">
		<div class="row">
			<div class="d-none d-md-block col-md-2"></div>
			<div class="col-12 col-md-6">
				<p class="fs-2 font-gothic">団員募集</p>
				<div class="my-3">
					<p>アンサンブル・シマエナガでは新入団員を募集中<span style="white-space: nowrap;">( ･θ･)♪</span></p>
					<p>合唱団をお探しのあなた！<span style="white-space: nowrap;">新しいことに挑戦してみたいあなた！</span></p>
					<p>シマエナガで一緒に歌いませんか？</p>
					<p>見学の申し込みはこちらから！</p>
				</div>
			</div>	
			<div class="d-none d-md-block col-2"></div>
		</div>
		<div class="row">
			<div class="col text-center">
				<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfbDT3846DDHd4E8VSGNlGZTBwOFXwJy-ZmGEt7L9KRcyND8g/viewform?embedded=true" class="googleform bg-white rounded p-2">読み込んでいます…</iframe>
			</div>
		</div>
	</div>
{% endblock %}